$color: rgba(251, 192, 45, 0.5);
$transparent: rgba(0, 0, 0, 0);
.leanerBack1 {
  background: linear-gradient(-45deg,
    $transparent 49.9%,
    $color 49.9%, $color 80%,
    $transparent 60%
  ),
  linear-gradient(-45deg,
      $color 20%,
      $transparent 10%
  );
  background-size: 2em 2em;
  background-color: rgba(33, 33, 33, 1);
}
.about_div{
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
mat-card{
  max-width: 90%;
  max-height: 90%;
}
img{
  max-height: 600px;
  max-width: 100%;
  display: block;
}
.box{
  top: 30px;
  left: 30px;
  position: absolute;
  width: 60%;
}
.box-min{
  padding: 10px;
  background-color: white;
}
.cont{
  max-height: 100%;
  max-width: 100%;
}
